/*--------------------------------------------*\
    CSS base
    Version: 0.0.0
\*--------------------------------------------*/

/*--------------------------------------------*\
    $RESET
\*--------------------------------------------*/

* { 
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box; 
}

/*--------------------------------------------*\
    $BASE
\*--------------------------------------------*/

/* =cont= */
.cont,
.cont._site,
.cont._crow {
  margin-left: auto;
  margin-right: auto;
}
.cont._site {
  width: 1000px;
  min-width: 1000px;
}
.cont._crow {
  width: 940px;
  min-width: 940px;
}

/* =text= */
.text._c { text-align: center; }
.text._l { text-align: left; }
.text._r { text-align: right; }
.text._b { font-weight: bold; }
.text._uc { text-transform: uppercase; }

/* =link= */
.link-block {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
.link-cham {
  text-decoration: inherit;
  font: inherit;
  color: inherit;
}
.link-dead,
.link-dead:hover,
.link-dead:active,
.link-dead:focus{
  text-decoration: inherit;
  font: inherit;
  color: inherit;
  border: inherit;
}

/* =ln= */
.ln,
.ln._equal,
.ln._fill {
  display: table; 
}
.ln._fill {
  width: 100%; 
}
.ln._equal {
  width: 100%;
  table-layout: fixed;
}
.ln__i {
  display: table-cell;
  vertical-align: top;
}
.ln__i._t { vertical-align: top; }
.ln__i._m { vertical-align: middle; }
.ln__i._b { vertical-align: bottom; }
.ln__i._fill { width: 100%; }

/* =grid= */
.grid {
  margin-left: -20px;
  margin-top: -20px;
}
.grid__i {
  padding-left: 20px;
  padding-top: 20px;
}

/* =group= */
.group {
  margin-left: -20px;
}
.group__i {
  margin-left: 20px;
}

/* =list= */
.list {
  margin-top: -20px;
}
.list__i {
  padding-top: 20px;
}

/* =area= */
.area {}
.area:after {
  content: "";
  display: block;
  clear: both;
}
.area__i {
  float: left;
}
.area._col2 .area__i {
  width: 50%;
}
.area._col3 .area__i {
  width: 33.3333%;
}
.area._col4 .area__i {
  width: 25%;
}
.area._col5 .area__i {
  width: 20%;
}

/* =shift= */
.shift,
.shift._c,
.shift._r,
.shift._l { display: table; }

.shift._c {
  margin-left: auto;
  margin-right: auto;
}
.shift._r {
  margin-left: auto;
}
.shift._l {
  margin-right: auto;
}

/* =inline= */
.inline {
  display: inline-block;
  vertical-align: middle;
}
.inline._t {
  vertical-align: top;
}
.inline._m {
  vertical-align: middle;
}
.inline._b {
  vertical-align: bottom;
}

/* =relative= */
.relative {
  position: relative;
}
